In [1]:
import openpyxl as xl
import pandas as pd

In [2]:
exl = xl.load_workbook('qa-sept23.xlsx')
df = exl.active

In [3]:
for row in range(0, df.max_row):
    for col in df.iter_cols(1, df.max_column):
        print(col[row].value)

None
   AURO TEXTILE-II
None
None
None
None
None
None
None
None
None
         DAILY QA PRODUCTION REPORT
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
DATE
=Data!A1
None
None
None
None
None
None
None
None
PRODUCTION
FTD
MTD
PRO-TARGET
PACKING % (FTD)
PACKING % MTD)
LAST MONTH PKG %AGE
None
None
None
TOTAL PRODUCTION
=Summary!I7
=Summary!J7
40.00 Lac
=AVERAGE(F7,F8)
=AVERAGE(G7,G8)
=AVERAGE(H7,H8)
None
None
None
YARN DYED
=Summary!G7
=Summary!H7
22.00 Lac
=+Summary!H30%
=+Summary!I30%
0.9721
None
None
None
PRINT
=Summary!C7
=Summary!D7
18.00 Lac
=+Summary!H25%
=+Summary!I25%
0.9481
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [27]:
df_new = pd.read_excel('qa-sept23.xlsx', sheet_name='Data', skiprows=[0], index_col=0)
df_new

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
DATE,,,,,,,,,,,,,,,,,,,
2023-09-01 00:00:00,13132.5,0.0,136.00,0.0,55.0,175.0,143.0,201.00,NaN,39234.0,268.00,0.0,227.0,848.00,NaN,13000.0,42000.0,NaN,3.750021e+11
2023-09-02 00:00:00,16410.1,1258.0,333.00,0.0,0.0,7.0,115.0,564.00,NaN,76963.0,339.87,0.0,129.0,824.00,NaN,28900.0,27050.0,NaN,3.750021e+11
2023-09-03 00:00:00,66328.0,128.0,0.00,0.0,0.0,327.0,30.0,739.00,NaN,73566.5,0.00,0.0,98.0,837.00,NaN,20000.0,34400.0,NaN,3.750021e+11
2023-09-04 00:00:00,36518.7,0.0,215.00,0.0,128.0,0.0,100.0,483.00,NaN,72512.0,326.00,0.0,107.0,715.00,NaN,11700.0,27700.0,NaN,3.750021e+11
2023-09-05 00:00:00,20743.0,26.0,359.10,0.0,3527.0,2146.0,124.0,433.00,NaN,75653.1,109.00,25.0,55.0,966.00,NaN,16350.0,35350.0,NaN,3.750021e+11
2023-09-06 00:00:00,38733.7,0.0,374.00,0.0,0.0,0.0,111.0,619.00,NaN,66950.5,221.00,0.0,135.0,865.00,NaN,14400.0,34600.0,NaN,3.750021e+11
2023-09-07 00:00:00,32033.0,0.0,162.00,0.0,0.0,0.0,123.0,800.00,NaN,62522.0,261.01,0.0,92.0,584.00,NaN,29410.0,23520.0,NaN,3.750021e+11
2023-09-08 00:00:00,32631.3,1141.0,423.04,0.0,658.0,10.0,182.0,295.00,NaN,67322.0,171.04,0.0,28.0,957.00,NaN,26000.0,27200.0,NaN,3.750021e+11
2023-09-09 00:00:00,47167.7,0.0,234.00,0.0,0.0,145.0,189.0,755.00,NaN,88236.6,396.10,0.0,81.0,929.00,NaN,20130.0,28400.0,NaN,3.750021e+11
2023-09-10 00:00:00,36377.7,0.0,0.00,0.0,28.0,33.0,157.0,995.00,NaN,47359.5,0.00,0.0,64.0,537.00,NaN,31500.0,21300.0,NaN,3.750021e+11
2023-09-11 00:00:00,71644.0,0.0,304.00,38.0,2581.0,17.0,635.0,1001.00,NaN,38414.0,525.08,0.0,104.0,522.00,NaN,27400.0,33000.0,NaN,3.750021e+11
2023-09-12 00:00:00,37525.0,38.0,471.04,0.0,395.0,117.0,173.0,346.00,NaN,90255.0,414.00,0.0,89.0,972.00,NaN,19000.0,37410.0,NaN,3.750021e+11
2023-09-13 00:00:00,62751.2,0.0,304.04,0.0,643.0,0.0,252.0,773.88,NaN,55743.0,105.10,57.0,97.0,662.42,NaN,16400.0,37800.0,NaN,3.750021e+11
2023-09-14 00:00:00,41048.0,2577.0,140.02,0.0,299.0,18.0,105.0,694.00,NaN,78346.0,136.00,37.0,103.0,744.00,NaN,27410.0,12700.0,NaN,3.750021e+11
2023-09-15 00:00:00,60004.0,3769.0,78.00,0.0,41.0,138.0,172.0,486.00,NaN,50745.5,228.00,0.0,146.0,974.00,NaN,14520.0,40260.0,NaN,3.750021e+11
2023-09-16 00:00:00,34662.0,6205.0,75.00,0.0,485.0,0.0,110.0,593.00,NaN,95583.8,108.00,0.0,95.0,864.00,NaN,29245.0,34120.0,NaN,3.750021e+11
2023-09-17 00:00:00,58621.9,216.0,0.00,0.0,0.0,0.0,NaN,936.00,NaN,80802.7,0.00,0.0,7.0,811.00,NaN,30889.0,30650.0,NaN,3.750021e+11
2023-09-18 00:00:00,87668.7,812.0,310.00,25.0,0.0,0.0,241.0,1123.00,NaN,47485.6,528.70,0.0,133.0,527.00,NaN,40530.0,24130.0,NaN,3.750021e+11
2023-09-19 00:00:00,35959.7,12.0,94.51,0.0,0.0,0.0,36.0,231.00,NaN,75625.0,329.20,2294.0,106.0,1147.00,NaN,25310.0,38410.0,NaN,3.750021e+11
2023-09-20 00:00:00,22599.7,2708.0,492.14,0.0,2906.0,0.0,337.0,428.00,NaN,124795.5,307.85,164.0,37.0,1258.00,NaN,24296.0,40521.0,NaN,3.750021e+11
2023-09-21 00:00:00,50264.0,417.0,304.00,0.0,0.0,0.0,185.0,726.00,NaN,93518.2,603.02,0.0,64.0,724.00,NaN,28315.0,39562.0,NaN,3.750021e+11
2023-09-22 00:00:00,84706.2,762.0,211.00,0.0,0.0,0.0,107.0,810.00,NaN,96775.3,221.02,0.0,85.0,1175.00,NaN,14510.0,48720.0,NaN,3.750021e+11
2023-09-23 00:00:00,48759.1,463.0,241.02,0.0,0.0,0.0,169.0,627.00,NaN,124222.6,153.04,0.0,102.0,727.00,NaN,25316.0,34481.0,NaN,3.750021e+11
2023-09-24 00:00:00,74032.5,106.0,0.00,0.0,0.0,0.0,NaN,627.00,NaN,81134.6,0.00,421.0,38.0,862.00,NaN,16800.0,36200.0,NaN,3.750021e+11
2023-09-25 00:00:00,37470.0,2238.0,409.02,0.0,0.0,669.0,103.0,960.00,NaN,92935.8,641.00,0.0,291.0,717.00,NaN,21230.0,28410.0,NaN,3.750021e+11
2023-09-26 00:00:00,77621.3,0.0,211.02,0.0,0.0,587.0,124.0,1194.00,NaN,71196.6,122.52,43.0,55.0,779.00,NaN,22410.0,28487.0,NaN,3.750021e+11
2023-09-27 00:00:00,78320.7,15756.0,382.00,0.0,0.0,0.0,194.0,1515.00,NaN,50633.0,315.00,0.0,NaN,1060.00,NaN,37401.0,21800.0,NaN,3.750021e+11
2023-09-28 00:00:00,98405.6,161.0,159.00,0.0,0.0,0.0,154.0,1253.00,NaN,85876.1,323.40,0.0,172.0,1318.00,NaN,25125.0,35400.0,NaN,3.750021e+11
2023-09-29 00:00:00,53368.4,1512.0,284.10,0.0,0.0,0.0,194.0,1297.00,NaN,94787.6,137.00,2860.0,37.0,948.00,NaN,42510.0,24850.0,NaN,3.750021e+11
2023-09-30 00:00:00,153893.0,98.0,279.00,0.0,0.0,58.0,NaN,1057.00,NaN,35049.5,300.50,397.0,82.0,951.00,NaN,8210.0,18410.0,NaN,3.750021e+11
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_new.describe()

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,27.000000,30.000000,0.0,30.000000,30.000000,30.000000,29.000000,30.000000,0.0,30.000000,30.000000,0.0,3.000000e+01
mean,53646.690000,1346.766667,232.835000,2.100000,391.533333,148.233333,169.074074,752.062667,NaN,74474.820000,253.015000,209.933333,98.586207,860.147333,NaN,23607.233333,31561.366667,NaN,3.750021e+11
std,29145.940903,3065.037803,143.831116,8.172072,915.312524,412.510370,112.761125,330.772587,NaN,22781.898572,174.766164,656.235709,58.709647,203.715421,NaN,8415.768859,7893.943420,NaN,1.009394e+04
min,13132.500000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,201.000000,NaN,35049.500000,0.000000,0.000000,7.000000,522.000000,NaN,8210.000000,12700.000000,NaN,3.750021e+11
25%,36064.200000,0.000000,137.005000,0.000000,0.000000,0.000000,110.500000,505.500000,NaN,57437.750000,125.890000,0.000000,64.000000,724.750000,NaN,16500.000000,27087.500000,NaN,3.750021e+11
50%,47963.400000,144.500000,237.510000,0.000000,0.000000,0.000000,154.000000,732.500000,NaN,75639.050000,244.505000,0.000000,95.000000,855.000000,NaN,24710.500000,33560.000000,NaN,3.750021e+11
75%,70315.000000,1228.750000,327.250000,0.000000,256.250000,102.250000,187.000000,986.250000,NaN,89750.400000,328.400000,34.000000,107.000000,963.750000,NaN,28753.750000,37107.500000,NaN,3.750021e+11
max,153893.000000,15756.000000,492.140000,38.000000,3527.000000,2146.000000,635.000000,1515.000000,NaN,124795.500000,641.000000,2860.000000,291.000000,1318.000000,NaN,42510.000000,48720.000000,NaN,3.750021e+11

In [29]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 2023-09-01 00:00:00 to Total
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Print              30 non-null     float64
 1   Print Yd           30 non-null     float64
 2   Print PD Yardage   30 non-null     float64
 3   Print Yd Yardage   30 non-null     float64
 4   Piece Dyed         30 non-null     float64
 5   RG/RS              30 non-null     float64
 6   PRINT Q6           27 non-null     float64
 7   Print FRC          30 non-null     float64
 8   PRINT TOTAL        0 non-null      float64
 9   Yarn Dyed          30 non-null     float64
 10  Yarn Dyed Yardage  30 non-null     float64
 11  RG/RS.1            30 non-null     float64
 12  YD Q6              29 non-null     float64
 13  Yarn Dyed FRC      30 non-null     float64
 14  YD TOTAL           0 non-null      float64
 15  WIP PRINT          30 non-null     float64
 16  WIP YARN DYED      30 non-null     float64
 17  WIP TOTAL          0 non-null      float64
 18  Last Bale Number   30 non-null     float64
dtypes: float64(19)
memory usage: 4.8+ KB

In [30]:
df_new.head()

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
DATE,,,,,,,,,,,,,,,,,,,
2023-09-01 00:00:00,13132.5,0.0,136.0,0.0,55.0,175.0,143.0,201.0,NaN,39234.0,268.00,0.0,227.0,848.0,NaN,13000.0,42000.0,NaN,3.750021e+11
2023-09-02 00:00:00,16410.1,1258.0,333.0,0.0,0.0,7.0,115.0,564.0,NaN,76963.0,339.87,0.0,129.0,824.0,NaN,28900.0,27050.0,NaN,3.750021e+11
2023-09-03 00:00:00,66328.0,128.0,0.0,0.0,0.0,327.0,30.0,739.0,NaN,73566.5,0.00,0.0,98.0,837.0,NaN,20000.0,34400.0,NaN,3.750021e+11
2023-09-04 00:00:00,36518.7,0.0,215.0,0.0,128.0,0.0,100.0,483.0,NaN,72512.0,326.00,0.0,107.0,715.0,NaN,11700.0,27700.0,NaN,3.750021e+11
2023-09-05 00:00:00,20743.0,26.0,359.1,0.0,3527.0,2146.0,124.0,433.0,NaN,75653.1,109.00,25.0,55.0,966.0,NaN,16350.0,35350.0,NaN,3.750021e+11

In [32]:
df_new.columns

Index(['Print ', 'Print Yd', 'Print PD Yardage ', 'Print Yd Yardage ',
       'Piece Dyed ', 'RG/RS', 'PRINT Q6', 'Print FRC', 'PRINT TOTAL',
       'Yarn Dyed', 'Yarn Dyed Yardage', 'RG/RS.1', 'YD Q6', 'Yarn Dyed FRC',
       'YD TOTAL', 'WIP PRINT', 'WIP YARN DYED', 'WIP TOTAL',
       'Last Bale Number '],
      dtype='object')

In [31]:
df_new['PRINT TOTAL'] = df_new.apply(lambda row: row['Print ']+row['Print Yd']+row['Print PD Yardage ']+row['Print Yd Yardage ']+row['Print FRC'], axis=1)
df_new['YD TOTAL'] = df_new.apply(lambda row: row['Yarn Dyed']+row['Yarn Dyed Yardage']+row['Yarn Dyed FRC'], axis=1)
df_new['WIP TOTAL'] = df_new.apply(lambda row: row['WIP PRINT']+row['WIP YARN DYED'], axis=1)
# df = map(lambda row: df_new[row].sum(), df_new.columns)
df_new

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
DATE,,,,,,,,,,,,,,,,,,,
2023-09-01 00:00:00,13132.5,0.0,136.00,0.0,55.0,175.0,143.0,201.00,13469.50,39234.0,268.00,0.0,227.0,848.00,40350.00,13000.0,42000.0,55000.0,3.750021e+11
2023-09-02 00:00:00,16410.1,1258.0,333.00,0.0,0.0,7.0,115.0,564.00,18565.10,76963.0,339.87,0.0,129.0,824.00,78126.87,28900.0,27050.0,55950.0,3.750021e+11
2023-09-03 00:00:00,66328.0,128.0,0.00,0.0,0.0,327.0,30.0,739.00,67195.00,73566.5,0.00,0.0,98.0,837.00,74403.50,20000.0,34400.0,54400.0,3.750021e+11
2023-09-04 00:00:00,36518.7,0.0,215.00,0.0,128.0,0.0,100.0,483.00,37216.70,72512.0,326.00,0.0,107.0,715.00,73553.00,11700.0,27700.0,39400.0,3.750021e+11
2023-09-05 00:00:00,20743.0,26.0,359.10,0.0,3527.0,2146.0,124.0,433.00,21561.10,75653.1,109.00,25.0,55.0,966.00,76728.10,16350.0,35350.0,51700.0,3.750021e+11
2023-09-06 00:00:00,38733.7,0.0,374.00,0.0,0.0,0.0,111.0,619.00,39726.70,66950.5,221.00,0.0,135.0,865.00,68036.50,14400.0,34600.0,49000.0,3.750021e+11
2023-09-07 00:00:00,32033.0,0.0,162.00,0.0,0.0,0.0,123.0,800.00,32995.00,62522.0,261.01,0.0,92.0,584.00,63367.01,29410.0,23520.0,52930.0,3.750021e+11
2023-09-08 00:00:00,32631.3,1141.0,423.04,0.0,658.0,10.0,182.0,295.00,34490.34,67322.0,171.04,0.0,28.0,957.00,68450.04,26000.0,27200.0,53200.0,3.750021e+11
2023-09-09 00:00:00,47167.7,0.0,234.00,0.0,0.0,145.0,189.0,755.00,48156.70,88236.6,396.10,0.0,81.0,929.00,89561.70,20130.0,28400.0,48530.0,3.750021e+11
2023-09-10 00:00:00,36377.7,0.0,0.00,0.0,28.0,33.0,157.0,995.00,37372.70,47359.5,0.00,0.0,64.0,537.00,47896.50,31500.0,21300.0,52800.0,3.750021e+11
2023-09-11 00:00:00,71644.0,0.0,304.00,38.0,2581.0,17.0,635.0,1001.00,72987.00,38414.0,525.08,0.0,104.0,522.00,39461.08,27400.0,33000.0,60400.0,3.750021e+11
2023-09-12 00:00:00,37525.0,38.0,471.04,0.0,395.0,117.0,173.0,346.00,38380.04,90255.0,414.00,0.0,89.0,972.00,91641.00,19000.0,37410.0,56410.0,3.750021e+11
2023-09-13 00:00:00,62751.2,0.0,304.04,0.0,643.0,0.0,252.0,773.88,63829.12,55743.0,105.10,57.0,97.0,662.42,56510.52,16400.0,37800.0,54200.0,3.750021e+11
2023-09-14 00:00:00,41048.0,2577.0,140.02,0.0,299.0,18.0,105.0,694.00,44459.02,78346.0,136.00,37.0,103.0,744.00,79226.00,27410.0,12700.0,40110.0,3.750021e+11
2023-09-15 00:00:00,60004.0,3769.0,78.00,0.0,41.0,138.0,172.0,486.00,64337.00,50745.5,228.00,0.0,146.0,974.00,51947.50,14520.0,40260.0,54780.0,3.750021e+11
2023-09-16 00:00:00,34662.0,6205.0,75.00,0.0,485.0,0.0,110.0,593.00,41535.00,95583.8,108.00,0.0,95.0,864.00,96555.80,29245.0,34120.0,63365.0,3.750021e+11
2023-09-17 00:00:00,58621.9,216.0,0.00,0.0,0.0,0.0,NaN,936.00,59773.90,80802.7,0.00,0.0,7.0,811.00,81613.70,30889.0,30650.0,61539.0,3.750021e+11
2023-09-18 00:00:00,87668.7,812.0,310.00,25.0,0.0,0.0,241.0,1123.00,89938.70,47485.6,528.70,0.0,133.0,527.00,48541.30,40530.0,24130.0,64660.0,3.750021e+11
2023-09-19 00:00:00,35959.7,12.0,94.51,0.0,0.0,0.0,36.0,231.00,36297.21,75625.0,329.20,2294.0,106.0,1147.00,77101.20,25310.0,38410.0,63720.0,3.750021e+11
2023-09-20 00:00:00,22599.7,2708.0,492.14,0.0,2906.0,0.0,337.0,428.00,26227.84,124795.5,307.85,164.0,37.0,1258.00,126361.35,24296.0,40521.0,64817.0,3.750021e+11
2023-09-21 00:00:00,50264.0,417.0,304.00,0.0,0.0,0.0,185.0,726.00,51711.00,93518.2,603.02,0.0,64.0,724.00,94845.22,28315.0,39562.0,67877.0,3.750021e+11
2023-09-22 00:00:00,84706.2,762.0,211.00,0.0,0.0,0.0,107.0,810.00,86489.20,96775.3,221.02,0.0,85.0,1175.00,98171.32,14510.0,48720.0,63230.0,3.750021e+11
2023-09-23 00:00:00,48759.1,463.0,241.02,0.0,0.0,0.0,169.0,627.00,50090.12,124222.6,153.04,0.0,102.0,727.00,125102.64,25316.0,34481.0,59797.0,3.750021e+11
2023-09-24 00:00:00,74032.5,106.0,0.00,0.0,0.0,0.0,NaN,627.00,74765.50,81134.6,0.00,421.0,38.0,862.00,81996.60,16800.0,36200.0,53000.0,3.750021e+11
2023-09-25 00:00:00,37470.0,2238.0,409.02,0.0,0.0,669.0,103.0,960.00,41077.02,92935.8,641.00,0.0,291.0,717.00,94293.80,21230.0,28410.0,49640.0,3.750021e+11
2023-09-26 00:00:00,77621.3,0.0,211.02,0.0,0.0,587.0,124.0,1194.00,79026.32,71196.6,122.52,43.0,55.0,779.00,72098.12,22410.0,28487.0,50897.0,3.750021e+11
2023-09-27 00:00:00,78320.7,15756.0,382.00,0.0,0.0,0.0,194.0,1515.00,95973.70,50633.0,315.00,0.0,NaN,1060.00,52008.00,37401.0,21800.0,59201.0,3.750021e+11
2023-09-28 00:00:00,98405.6,161.0,159.00,0.0,0.0,0.0,154.0,1253.00,99978.60,85876.1,323.40,0.0,172.0,1318.00,87517.50,25125.0,35400.0,60525.0,3.750021e+11
2023-09-29 00:00:00,53368.4,1512.0,284.10,0.0,0.0,0.0,194.0,1297.00,56461.50,94787.6,137.00,2860.0,37.0,948.00,95872.60,42510.0,24850.0,67360.0,3.750021e+11
2023-09-30 00:00:00,153893.0,98.0,279.00,0.0,0.0,58.0,NaN,1057.00,155327.00,35049.5,300.50,397.0,82.0,951.00,36301.00,8210.0,18410.0,26620.0,3.750021e+11
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
col_sum = df_new.sum(skipna=True, numeric_only=True)
col_sum

Print                1.609401e+06
Print Yd             4.040300e+04
Print PD Yardage     6.985050e+03
Print Yd Yardage     6.300000e+01
Piece Dyed           1.174600e+04
RG/RS                4.447000e+03
PRINT Q6             4.565000e+03
Print FRC            2.256188e+04
PRINT TOTAL          1.679414e+06
Yarn Dyed            2.234245e+06
Yarn Dyed Yardage    7.590450e+03
RG/RS.1              6.298000e+03
YD Q6                2.859000e+03
Yarn Dyed FRC        2.580442e+04
YD TOTAL             2.267639e+06
WIP PRINT            7.082170e+05
WIP YARN DYED        9.468410e+05
WIP TOTAL            1.655058e+06
Last Bale Number     1.125006e+13
dtype: float64

In [38]:
col_sum[0]

1609400.7

In [41]:
df2 = pd.DataFrame(col_sum)
df2.T

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
0,1609400.7,40403.0,6985.05,63.0,11746.0,4447.0,4565.0,22561.88,1679413.63,2234244.6,7590.45,6298.0,2859.0,25804.42,2267639.47,708217.0,946841.0,1655058.0,1.125006e+13