In [42]:
import pandas as pd

In [45]:
df_new = pd.read_excel('qa-sept23.xlsx', sheet_name='Data', skiprows=[0], index_col=0)
df_new

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
DATE,,,,,,,,,,,,,,,,,,,
2023-09-01 00:00:00,13132.5,0,136.00,0,55,175,143,201.00,13469.50,39234.0,268.00,0,227,848.00,40350.00,13000,42000,55000,375002068983
2023-09-02 00:00:00,16410.1,1258,333.00,0,0,7,115,564.00,18565.10,76963.0,339.87,0,129,824.00,78126.87,28900,27050,55950,375002069942
2023-09-03 00:00:00,66328.0,128,0.00,0,0,327,30,739.00,67195.00,73566.5,0.00,0,98,837.00,74403.50,20000,34400,54400,375002071073
2023-09-04 00:00:00,36518.7,0,215.00,0,128,0,100,483.00,37216.70,72512.0,326.00,0,107,715.00,73553.00,11700,27700,39400,375002071991
2023-09-05 00:00:00,20743.0,26,359.10,0,3527,2146,124,433.00,21561.10,75653.1,109.00,25,55,966.00,76728.10,16350,35350,51700,375002073071
2023-09-06 00:00:00,38733.7,0,374.00,0,0,0,111,619.00,39726.70,66950.5,221.00,0,135,865.00,68036.50,14400,34600,49000,375002073977
2023-09-07 00:00:00,32033.0,0,162.00,0,0,0,123,800.00,32995.00,62522.0,261.01,0,92,584.00,63367.01,29410,23520,52930,375002074849
2023-09-08 00:00:00,32631.3,1141,423.04,0,658,10,182,295.00,34490.34,67322.0,171.04,0,28,957.00,68450.04,26000,27200,53200,375002075894
2023-09-09 00:00:00,47167.7,0,234.00,0,0,145,189,755.00,48156.70,88236.6,396.10,0,81,929.00,89561.70,20130,28400,48530,375002076989
2023-09-10 00:00:00,36377.7,0,0.00,0,28,33,157,995.00,37372.70,47359.5,0.00,0,64,537.00,47896.50,31500,21300,52800,375002077954
2023-09-11 00:00:00,71644.0,0,304.00,38,2581,17,635,1001.00,72987.00,38414.0,525.08,0,104,522.00,39461.08,27400,33000,60400,375002079024
2023-09-12 00:00:00,37525.0,38,471.04,0,395,117,173,346.00,38380.04,90255.0,414.00,0,89,972.00,91641.00,19000,37410,56410,375002080144
2023-09-13 00:00:00,62751.2,0,304.04,0,643,0,252,773.88,63829.12,55743.0,105.10,57,97,662.42,56510.52,16400,37800,54200,375002081131
2023-09-14 00:00:00,41048.0,2577,140.02,0,299,18,105,694.00,44459.02,78346.0,136.00,37,103,744.00,79226.00,27410,12700,40110,375002082304
2023-09-15 00:00:00,60004.0,3769,78.00,0,41,138,172,486.00,64337.00,50745.5,228.00,0,146,974.00,51947.50,14520,40260,54780,375002083381
2023-09-16 00:00:00,34662.0,6205,75.00,0,485,0,110,593.00,41535.00,95583.8,108.00,0,95,864.00,96555.80,29245,34120,63365,375002084631
2023-09-17 00:00:00,58621.9,216,0.00,0,0,0,59,936.00,59773.90,80802.7,0.00,0,7,811.00,81613.70,30889,30650,61539,375002085634
2023-09-18 00:00:00,87668.7,812,310.00,25,0,0,241,1123.00,89938.70,47485.6,528.70,0,133,527.00,48541.30,40530,24130,64660,375002086883
2023-09-19 00:00:00,35959.7,12,94.51,0,0,0,36,231.00,36297.21,75625.0,329.20,2294,106,1147.00,77101.20,25310,38410,63720,375002087973
2023-09-20 00:00:00,22599.7,2708,492.14,0,2906,0,337,428.00,26227.84,124795.5,307.85,164,37,1258.00,126361.35,24296,40521,64817,375002089232
2023-09-21 00:00:00,50264.0,417,304.00,0,0,0,185,726.00,51711.00,93518.2,603.02,0,64,724.00,94845.22,28315,39562,67877,375002090361
2023-09-22 00:00:00,84706.2,762,211.00,0,0,0,107,810.00,86489.20,96775.3,221.02,0,85,1175.00,98171.32,14510,48720,63230,375002091837
2023-09-23 00:00:00,48759.1,463,241.02,0,0,0,169,627.00,50090.12,124222.6,153.04,0,102,727.00,125102.64,25316,34481,59797,375002093293
2023-09-24 00:00:00,74032.5,106,0.00,0,0,0,147,627.00,74765.50,81134.6,0.00,421,38,862.00,81996.60,16800,36200,53000,375002094519
2023-09-25 00:00:00,37470.0,2238,409.02,0,0,669,103,960.00,41077.02,92935.8,641.00,0,291,717.00,94293.80,21230,28410,49640,375002095749
2023-09-26 00:00:00,77621.3,0,211.02,0,0,587,124,1194.00,79026.32,71196.6,122.52,43,55,779.00,72098.12,22410,28487,50897,375002096882
2023-09-27 00:00:00,78320.7,15756,382.00,0,0,0,194,1515.00,95973.70,50633.0,315.00,0,391,1060.00,52008.00,37401,21800,59201,375002098116
2023-09-28 00:00:00,98405.6,161,159.00,0,0,0,154,1253.00,99978.60,85876.1,323.40,0,172,1318.00,87517.50,25125,35400,60525,375002099629
2023-09-29 00:00:00,53368.4,1512,284.10,0,0,0,194,1297.00,56461.50,94787.6,137.00,2860,37,948.00,95872.60,42510,24850,67360,375002100938
2023-09-30 00:00:00,153893.0,98,279.00,0,0,58,219,1057.00,155327.00,35049.5,300.50,397,82,951.00,36301.00,8210,18410,26620,375002102385
Total,1609400.7,40403,6985.05,63,11746,4447,4990,22561.88,1679413.63,2234244.6,7590.45,6298,3250,25804.42,2267639.47,708217,946841,1655058,0

In [46]:
df_new.describe()

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
count,3.100000e+01,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,3.100000e+01,3.100000e+01,31.000000,31.000000,31.000000,31.000000,3.100000e+01,31.000000,31.000000,3.100000e+01,3.100000e+01
mean,1.038323e+05,2606.645161,450.648387,4.064516,757.806452,286.903226,321.935484,1455.605161,1.083493e+05,1.441448e+05,489.706452,406.322581,209.677419,1664.801290,1.462993e+05,45691.419355,61086.516129,1.067779e+05,3.629052e+11
std,2.808872e+05,7634.619613,1220.950707,13.571872,2229.059524,872.125081,872.976706,3930.635671,2.930334e+05,3.885523e+05,1328.997083,1269.614624,569.527488,4484.598571,3.943449e+05,123237.631290,164572.188331,2.874814e+05,6.735236e+10
min,1.313250e+04,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,201.000000,1.346950e+04,3.504950e+04,0.000000,0.000000,7.000000,522.000000,3.630100e+04,8210.000000,12700.000000,2.662000e+04,0.000000e+00
25%,3.616870e+04,0.000000,138.010000,0.000000,0.000000,0.000000,110.500000,525.000000,3.729470e+04,5.913250e+04,129.260000,0.000000,64.000000,725.500000,5.993876e+04,16600.000000,27125.000000,5.225000e+04,3.750021e+11
50%,4.875910e+04,161.000000,241.020000,0.000000,0.000000,0.000000,154.000000,739.000000,5.009012e+04,7.565310e+04,261.010000,0.000000,97.000000,862.000000,7.710120e+04,25125.000000,34120.000000,5.500000e+04,3.750021e+11
75%,7.283825e+04,1385.000000,346.050000,0.000000,347.000000,127.500000,191.500000,998.000000,7.387625e+04,9.159540e+04,334.535000,40.000000,131.000000,969.000000,9.296740e+04,29072.500000,37605.000000,6.238450e+04,3.750021e+11
max,1.609401e+06,40403.000000,6985.050000,63.000000,11746.000000,4447.000000,4990.000000,22561.880000,1.679414e+06,2.234245e+06,7590.450000,6298.000000,3250.000000,25804.420000,2.267639e+06,708217.000000,946841.000000,1.655058e+06,3.750021e+11

In [47]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 2023-09-01 00:00:00 to Total
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Print              31 non-null     float64
 1   Print Yd           31 non-null     int64
 2   Print PD Yardage   31 non-null     float64
 3   Print Yd Yardage   31 non-null     int64
 4   Piece Dyed         31 non-null     int64
 5   RG/RS              31 non-null     int64
 6   PRINT Q6           31 non-null     int64
 7   Print FRC          31 non-null     float64
 8   PRINT TOTAL        31 non-null     float64
 9   Yarn Dyed          31 non-null     float64
 10  Yarn Dyed Yardage  31 non-null     float64
 11  RG/RS.1            31 non-null     int64
 12  YD Q6              31 non-null     int64
 13  Yarn Dyed FRC      31 non-null     float64
 14  YD TOTAL           31 non-null     float64
 15  WIP PRINT          31 non-null     int64
 16  WIP YARN DYED      31 non-null     int64
 17  WIP TOTAL          31 non-null     int64
 18  Last Bale Number   31 non-null     int64
dtypes: float64(8), int64(11)
memory usage: 4.8+ KB

In [48]:
df_new.head()

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
DATE,,,,,,,,,,,,,,,,,,,
2023-09-01 00:00:00,13132.5,0,136.0,0,55,175,143,201.0,13469.5,39234.0,268.00,0,227,848.0,40350.00,13000,42000,55000,375002068983
2023-09-02 00:00:00,16410.1,1258,333.0,0,0,7,115,564.0,18565.1,76963.0,339.87,0,129,824.0,78126.87,28900,27050,55950,375002069942
2023-09-03 00:00:00,66328.0,128,0.0,0,0,327,30,739.0,67195.0,73566.5,0.00,0,98,837.0,74403.50,20000,34400,54400,375002071073
2023-09-04 00:00:00,36518.7,0,215.0,0,128,0,100,483.0,37216.7,72512.0,326.00,0,107,715.0,73553.00,11700,27700,39400,375002071991
2023-09-05 00:00:00,20743.0,26,359.1,0,3527,2146,124,433.0,21561.1,75653.1,109.00,25,55,966.0,76728.10,16350,35350,51700,375002073071

In [49]:
df_new.columns

Index(['Print ', 'Print Yd', 'Print PD Yardage ', 'Print Yd Yardage ',
       'Piece Dyed ', 'RG/RS', 'PRINT Q6', 'Print FRC', 'PRINT TOTAL',
       'Yarn Dyed', 'Yarn Dyed Yardage', 'RG/RS.1', 'YD Q6', 'Yarn Dyed FRC',
       'YD TOTAL', 'WIP PRINT', 'WIP YARN DYED', 'WIP TOTAL',
       'Last Bale Number '],
      dtype='object')

In [50]:
df_new['PRINT TOTAL'] = df_new.apply(lambda row: row['Print ']+row['Print Yd']+row['Print PD Yardage ']+row['Print Yd Yardage ']+row['Print FRC'], axis=1)
df_new['YD TOTAL'] = df_new.apply(lambda row: row['Yarn Dyed']+row['Yarn Dyed Yardage']+row['Yarn Dyed FRC'], axis=1)
df_new['WIP TOTAL'] = df_new.apply(lambda row: row['WIP PRINT']+row['WIP YARN DYED'], axis=1)
# df = map(lambda row: df_new[row].sum(), df_new.columns)
df_new

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
DATE,,,,,,,,,,,,,,,,,,,
2023-09-01 00:00:00,13132.5,0,136.00,0,55,175,143,201.00,13469.50,39234.0,268.00,0,227,848.00,40350.00,13000,42000,55000.0,375002068983
2023-09-02 00:00:00,16410.1,1258,333.00,0,0,7,115,564.00,18565.10,76963.0,339.87,0,129,824.00,78126.87,28900,27050,55950.0,375002069942
2023-09-03 00:00:00,66328.0,128,0.00,0,0,327,30,739.00,67195.00,73566.5,0.00,0,98,837.00,74403.50,20000,34400,54400.0,375002071073
2023-09-04 00:00:00,36518.7,0,215.00,0,128,0,100,483.00,37216.70,72512.0,326.00,0,107,715.00,73553.00,11700,27700,39400.0,375002071991
2023-09-05 00:00:00,20743.0,26,359.10,0,3527,2146,124,433.00,21561.10,75653.1,109.00,25,55,966.00,76728.10,16350,35350,51700.0,375002073071
2023-09-06 00:00:00,38733.7,0,374.00,0,0,0,111,619.00,39726.70,66950.5,221.00,0,135,865.00,68036.50,14400,34600,49000.0,375002073977
2023-09-07 00:00:00,32033.0,0,162.00,0,0,0,123,800.00,32995.00,62522.0,261.01,0,92,584.00,63367.01,29410,23520,52930.0,375002074849
2023-09-08 00:00:00,32631.3,1141,423.04,0,658,10,182,295.00,34490.34,67322.0,171.04,0,28,957.00,68450.04,26000,27200,53200.0,375002075894
2023-09-09 00:00:00,47167.7,0,234.00,0,0,145,189,755.00,48156.70,88236.6,396.10,0,81,929.00,89561.70,20130,28400,48530.0,375002076989
2023-09-10 00:00:00,36377.7,0,0.00,0,28,33,157,995.00,37372.70,47359.5,0.00,0,64,537.00,47896.50,31500,21300,52800.0,375002077954
2023-09-11 00:00:00,71644.0,0,304.00,38,2581,17,635,1001.00,72987.00,38414.0,525.08,0,104,522.00,39461.08,27400,33000,60400.0,375002079024
2023-09-12 00:00:00,37525.0,38,471.04,0,395,117,173,346.00,38380.04,90255.0,414.00,0,89,972.00,91641.00,19000,37410,56410.0,375002080144
2023-09-13 00:00:00,62751.2,0,304.04,0,643,0,252,773.88,63829.12,55743.0,105.10,57,97,662.42,56510.52,16400,37800,54200.0,375002081131
2023-09-14 00:00:00,41048.0,2577,140.02,0,299,18,105,694.00,44459.02,78346.0,136.00,37,103,744.00,79226.00,27410,12700,40110.0,375002082304
2023-09-15 00:00:00,60004.0,3769,78.00,0,41,138,172,486.00,64337.00,50745.5,228.00,0,146,974.00,51947.50,14520,40260,54780.0,375002083381
2023-09-16 00:00:00,34662.0,6205,75.00,0,485,0,110,593.00,41535.00,95583.8,108.00,0,95,864.00,96555.80,29245,34120,63365.0,375002084631
2023-09-17 00:00:00,58621.9,216,0.00,0,0,0,59,936.00,59773.90,80802.7,0.00,0,7,811.00,81613.70,30889,30650,61539.0,375002085634
2023-09-18 00:00:00,87668.7,812,310.00,25,0,0,241,1123.00,89938.70,47485.6,528.70,0,133,527.00,48541.30,40530,24130,64660.0,375002086883
2023-09-19 00:00:00,35959.7,12,94.51,0,0,0,36,231.00,36297.21,75625.0,329.20,2294,106,1147.00,77101.20,25310,38410,63720.0,375002087973
2023-09-20 00:00:00,22599.7,2708,492.14,0,2906,0,337,428.00,26227.84,124795.5,307.85,164,37,1258.00,126361.35,24296,40521,64817.0,375002089232
2023-09-21 00:00:00,50264.0,417,304.00,0,0,0,185,726.00,51711.00,93518.2,603.02,0,64,724.00,94845.22,28315,39562,67877.0,375002090361
2023-09-22 00:00:00,84706.2,762,211.00,0,0,0,107,810.00,86489.20,96775.3,221.02,0,85,1175.00,98171.32,14510,48720,63230.0,375002091837
2023-09-23 00:00:00,48759.1,463,241.02,0,0,0,169,627.00,50090.12,124222.6,153.04,0,102,727.00,125102.64,25316,34481,59797.0,375002093293
2023-09-24 00:00:00,74032.5,106,0.00,0,0,0,147,627.00,74765.50,81134.6,0.00,421,38,862.00,81996.60,16800,36200,53000.0,375002094519
2023-09-25 00:00:00,37470.0,2238,409.02,0,0,669,103,960.00,41077.02,92935.8,641.00,0,291,717.00,94293.80,21230,28410,49640.0,375002095749
2023-09-26 00:00:00,77621.3,0,211.02,0,0,587,124,1194.00,79026.32,71196.6,122.52,43,55,779.00,72098.12,22410,28487,50897.0,375002096882
2023-09-27 00:00:00,78320.7,15756,382.00,0,0,0,194,1515.00,95973.70,50633.0,315.00,0,391,1060.00,52008.00,37401,21800,59201.0,375002098116
2023-09-28 00:00:00,98405.6,161,159.00,0,0,0,154,1253.00,99978.60,85876.1,323.40,0,172,1318.00,87517.50,25125,35400,60525.0,375002099629
2023-09-29 00:00:00,53368.4,1512,284.10,0,0,0,194,1297.00,56461.50,94787.6,137.00,2860,37,948.00,95872.60,42510,24850,67360.0,375002100938
2023-09-30 00:00:00,153893.0,98,279.00,0,0,58,219,1057.00,155327.00,35049.5,300.50,397,82,951.00,36301.00,8210,18410,26620.0,375002102385
Total,1609400.7,40403,6985.05,63,11746,4447,4990,22561.88,1679413.63,2234244.6,7590.45,6298,3250,25804.42,2267639.47,708217,946841,1655058.0,0

In [51]:
col_sum = df_new.sum(skipna=True, numeric_only=True)
col_sum

Print                3.218801e+06
Print Yd             8.080600e+04
Print PD Yardage     1.397010e+04
Print Yd Yardage     1.260000e+02
Piece Dyed           2.349200e+04
RG/RS                8.894000e+03
PRINT Q6             9.980000e+03
Print FRC            4.512376e+04
PRINT TOTAL          3.358827e+06
Yarn Dyed            4.468489e+06
Yarn Dyed Yardage    1.518090e+04
RG/RS.1              1.259600e+04
YD Q6                6.500000e+03
Yarn Dyed FRC        5.160884e+04
YD TOTAL             4.535279e+06
WIP PRINT            1.416434e+06
WIP YARN DYED        1.893682e+06
WIP TOTAL            3.310116e+06
Last Bale Number     1.125006e+13
dtype: float64

In [52]:
col_sum[0]

3218801.3999999994

In [53]:
df2 = pd.DataFrame(col_sum)
df2.T

,Print,Print Yd,Print PD Yardage,Print Yd Yardage,Piece Dyed,RG/RS,PRINT Q6,Print FRC,PRINT TOTAL,Yarn Dyed,Yarn Dyed Yardage,RG/RS.1,YD Q6,Yarn Dyed FRC,YD TOTAL,WIP PRINT,WIP YARN DYED,WIP TOTAL,Last Bale Number
0,3218801.4,80806.0,13970.1,126.0,23492.0,8894.0,9980.0,45123.76,3358827.26,4468489.2,15180.9,12596.0,6500.0,51608.84,4535278.94,1416434.0,1893682.0,3310116.0,1.125006e+13

In [2]:
from deta import Deta
from dotenv import load_dotenv
import os

In [8]:
load_dotenv(".env")
DETA_KEY = os.getenv("DETA_KEY")

In [9]:
deta = Deta(DETA_KEY)
ncr_db = deta.Base("ncr_db")
drive = deta.Drive("qa_dash")

In [12]:
def upload_in_base(details):
    date_time = datetime.now()
    date = date_time.strftime("%m/%d/%Y")
    time = date_time.strftime("%H:%M:%S")
    return ncr_db.put({"key": str(date_time.timestamp()), "date": date, "time": time, "details": details})

def upload_in_drive(filename, filepath):
    return drive.put(filename, path=filepath)

def drive_files_list():
    return drive.list()['names']
    
def fetch_base_data(key):
    return ncr_db.get(key)

def fetch_all_data():
    res = ncr_db.fetch()
    return res.items

In [15]:
upload_in_drive('qa-sept23.xlsx','qa-sept23.xlsx')

'qa-sept23.xlsx'

In [16]:
drive_files_list()

['qa-sept23.xlsx', 'tips.csv']